@font-face {
    font-family: "kanit";
    src: url("fonts/kanit/Kanit-SemiBold.ttf");
}

html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    margin-bottom: -18px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #F76D1E;
}

a:visited {
  text-decoration: none;
  color: #138808;
}

p, h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	line-height: normal;
	font-family: "kanit";
  color: #222;
}

P{
	font-weight: 300;
}

h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
  line-height: 44px;
}

h3{
	font-family: "kanit";
	font-weight: 500;
	font-size: 25px;
  line-height: 29px;
  margin-bottom: 8px;
}

.logo{
	z-index: 1999;
	position: absolute;
	width: 180px;
	height: 180px;
  left: 35px;
  top: 25px;
  background-image: url("../images/logo-white_nuvyug_v1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*margin-bottom: -200px;*/
}

.logo:hover {
  cursor: pointer;
}


/*Nav*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  max-height: 100%;
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;
  transition-duration: 1s;
}

.navbar-pages {
	background-color: #222;
	border-color: transparent;
  transition-duration: 1s;
}

.navbar-fixed-top{
    max-height: 55px;
}


.navbar-default .navbar-nav>li>a, .navbar-pages .navbar-nav>li>a {
	font-family: "kanit";
	font-size: 20px;
	font-weight: 500;
	color: white;
}

.nav .navbar {
  background: #222;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    /* border: 1px solid transparent; */
    /* border-radius: 4px; */
    border: none;
    /* color: white; */
}

.navbar-default .navbar-toggle:hover {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #F76D1E;
  background-image: none;
  /* border: 1px solid transparent; */
   border-radius: 0px;
  border: none;
  /* color: white; */
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: transparent;
}



.navbar-default .navbar-toggle .icon-bar {
    background: white;
}

.navbar-brand {
  display: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-brand-pages {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
}

.location-btn, .sign-in-icon{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-top: -2px;
}

a.dropbtn {
  padding-bottom: 20px;
}

.sign-in{
	text-align: right;
}

.location{
	text-align: right;
}

.nav-button{
	background-color: #fff;
	width: 10px;
	height: 10px;
	z-index: 2000;
	float: right;
}

/*Nav hamburger*/

.navbar-nav>li {
  max-height: 100%;
}

*{ padding: 0; margin: 0;
}

a{
	text-decoration: none;
	color: #138808;
}

li{
	list-style-type:
	none;
}

#brand {
	float: left;
	line-height: 50px;
	color: #E5DAC0;
	font-size: 25px;
	font-weight: bolder;
   margin: 0 0 0 6px;
}
nav { width: 100%; text-align: center; }

.navbar-default .navbar-nav>li>a:hover {
  color: white;
  background: #F76D1E;
  cursor: pointer;
}

nav a {
	display: block;
	padding: 15px 20px;
	color: #fff;
}
nav a:hover {
	 background: #F76D1E;
	 color: #FFF;
	 text-decoration: none;
}

nav a:visited {
	 background: #F76D1E;
	 color: #FFF;
	 text-decoration: none;
}

nav a:active {
	 background: #F76D1E;
	 color: #FFF;
	 text-decoration: none;
}

nav a:focus {
    color: #fff;
    background: #F76D1E;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: #F76D1E;
}

nav li:last-child a { border-bottom: none; }

/*-----------------------------------------*/

.hamburger{
	max-width: 100px;
}

.menu {
	/*overflow: visible;*/
	min-width: 150px;
	float: right;
	height: 100vh;
	padding: 10px 0;
	position: relative;
	background: #222;
  opacity: .85;
	right: -240px;
	font-family: "kanit";
	font-weight: 400;
	font-size: 18px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

.menu li {
  height: calc(100vh / 12);
}

.menu-icon {
	padding: 11px 20px;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 20px;
}

.menu-icon:hover {
  background-color: #F76D1E;
}

#menuToggle {
  display: none;
  margin: 9px 6px 6px 0;
}

#menuToggle:checked ~ .menu {
  position: relative; right: 0;
}

.green-bar{
	min-height: 90px;
	position: absolute;
	bottom: 0;
	z-index: 1000 ;

	/* Set up proportionate scaling */
	width: 100%;

	/* Set up positioning */

	background: #138808;
}

.countdown-container {
  height: 90px;
}

#defaultCountdown{
	width: 240px;
	height: 45px;
}


/*.filler{
	height: 1000px;
	min-width: 500px;
}*/


#defaultCountdown{
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.button {
  z-index: 9999;
}

.register-btn{
	height: 58px;
	width: 300px;
	border-width: 3px;
	border-style: solid;
	border-color: white;
	margin-top: 16px;
  z-index: 9999;
}

.register-btn:hover {
  background-color: white;
  cursor: pointer;
}

.register{
	line-height: 50px;
  color: white;
}

.register:hover {
  color: #138808;
}

/*After Scroll*/

.after-scroll {
  margin-top: 100vh;
  z-index: 9999;
}

.schedule-left, .schedule-right, .directions-left, .directions-right{
	min-height: 300px;
}

.schedule-left{
	background-image: url("images/spirit-fingers.jpg");
	background-size: cover;
  background-position: top;
}

.schedule-right{
	background-color: #F76D1E;
}

.schedule-txt{
	font-family: "kanit";
	font-weight: 500;
	line-height: 65px;
	text-align: center;
	font-size: 80px;
	color: #fff;
	padding-top: 40px;
}

.schedule-btn, .directions-btn{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-family: "kanit";
	text-align: center;
	text-transform: uppercase;
  padding-top: 2px;
  margin-bottom: 40px;
}

.schedule-btn{
	width: 255px;
	height: 45px;
  background-color: white;
  font-size: 30px;
  color: #F76D1E;
}

.schedule-btn:hover {
  color: #138808;
}

.directions-left{
	background-color: #138808;
}

.directions-right{
	background-image: url("images/3-dancers.jpg");
	background-size: cover;
}

.directions-txt{
	font-family: "kanit";
	font-weight: 500;
	line-height: 55px;
	text-align: center;
	font-size: 50px;
	color: #fff;
	padding-top: 30px;
}

.directions-btn{
	width: 270px;
	height: 45px;
	font-size: 30px;
	color: #138808;
	background-color: #fff;}

.directions-btn:hover {
  color: #F76D1E;
}

.directions-btn a{
	color: #138808;
}

.dancer-section-desktop{
	height: 350px;
	margin-right: 0px;
}

.dancer-section-mobile {
  /*display: none;*/
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -10px;
}

.orange-dancer-desktop{
	float: right;
	/*position: absolute;*/
	/*bottom: 0;*/
	padding-top: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
  height: 100%;
}

.orange-dancer-mobile {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 250px;
  margin-top: 20px;
}

.about-section{
	padding: 80px 250px 80px 30px;
}

.about-txt{
	font-size: 18px;
	font-weight: 300;
}

.quote-section{
	background-color: #F76D1E;
	min-height: 100px;
	text-align: center;
	padding: 34px;
	letter-spacing: 1px;
}

.quote-section h3 {
  margin-bottom: 0px;
}

.bottom-image{
	height: 300px;
	background-color: grey;
  background-image: url("images/bottom-image.jpg");
  background-size: cover;
  background-position: bottom;
}

.footer-section{
	background-color: #222;
	height: 50px;
}

.footer-text{
	color: white;
	text-align: center;
	font-weight: 300;
  line-height: 15px;
  padding-top: 15px;
}

@media only screen
  and (max-width: 1230px) {
    .demo-1 .sl-slide h2 {
      font-size: 1000%;
    }
}

@media only screen
  and (max-width: 1060px) {
    .demo-1 .sl-slide h2 {
      font-size: 800%;
    }
}

@media only screen
  and (max-width: 991px) {
    .about-section {
      padding: 40px 60px 40px 60px;
    }
    .directions-txt {
      font-size: 45px;
      line-height: 48px;
      padding-top: 35px;
    }
}

@media only screen
  and (max-width: 900px) {
    .demo-1 .sl-slide h2 {
      font-size: 600%;
    }
}


@media only screen
  and (max-width: 786px) {
    .register-btn{
      margin: 0 auto 15px auto;
    }
    .countdown {
      min-width: 260px;
      text-align: center;
      position: static;
      margin: 10px auto;
    }
    .directions-txt {
      font-size: 40px;
      margin-left: 10px;
      margin-right: 10px;
    }
    /*.dancer-section-desktop {
      display: none;
    }
    .dancer-section-mobile {
      display: block;
    }*/
    .nav-arrows {
      display: none;
    }
    .demo-1 .sl-slide h2 {
      line-height: 22px;
      font-size: 40px;
      margin-bottom: 40px;
      letter-spacing: 8px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      background: 	rgba(34, 34, 34, .9);
      border: none;
    }

    .navbar-header {
      background-color: #222;
    }

    .navbar-brand {
      display: inline-block;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    li.dropdown {
      display: block;
      position: relative;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:visited {
      color: white;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
      color: white;
      background-color: #F76D1E;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:visited {
      color: white;
    }

    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
      color: white;
    }

}

@media only screen
  and (max-width: 508px) {
    .footer-text{
      padding-top: 10px;
    }
}

@media (min-width: 768px) {}
    .navbar-right {
        float: right!important;
        margin-right: -15px;
        max-height: 10px;
    }
}
