.logo{
	z-index: 2000;
	position: relative;
	/*margin: 25px;*/
	width: 100%;
	margin: auto;
}

.green-bar{
	min-height: 100px;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: absolute;

	background: green;
	z-index: 2000;
	bottom:0px;
}
